<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">Anunciar</ion-button>
    <ion-button slot="end" class="login">Login</ion-button>
    <img src="assets/img/hommy.png" width="100px">
    <ion-title>
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">

  <ion-searchbar placeholder='Pesquise por Cidade'></ion-searchbar>

  
  
  <ion-header collapse="condense">
    
  </ion-header>
  <ion-card *ngFor="let republica of republicas">
    <ion-card-header>
      <ion-card-subtitle>{{republica.subtitle}}</ion-card-subtitle>
      <ion-card-title>{{republica.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]=republica.image width="100%" height="200px">
      <h4>{{republica.content}}</h4><h5>{{republica.more}}</h5>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon><ion-icon  name="heart-outline" ></ion-icon>
    </ion-card-content>
  </ion-card>
  
</ion-content>
